/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128



FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* outline: 1px solid red; */
}
body {
  background: url("../imgs/main_background.png") no-repeat center/cover;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  --primary: #4d3258;
  --primary-dark: #2e1637;
  --accent: #ff930f;
  --accent-dark: #804a08;
  --accent-light: #ffa93f;
  --grey-light: #e6e6e6;
  --grey-dark: #3d3d3d;
  --teritary: #d8cb91;
  --button-background: linear-gradient(
    270deg,
    rgb(253, 114, 63) 0%,
    hsl(33, 100%, 53%) 32%
  );
}

/* *******************************
**********************************
________ GENERAL COMPONENTS _________

**********************************
**********************************/

.container {
  max-width: 100%;
  margin: auto;
}
/* MOBILE */
@media (max-width: 480px) {
  .container {
    max-width: 48rem;
    margin: auto;
    padding: 6.4rem 2.4rem;
  }
}
/* IPAD */
@media (min-width: 480px) and (max-width: 769px) {
  .container {
    max-width: 76.8rem;
    padding: 6.4rem 6.4rem;
  }
}
/* LAPTOP */
@media (min-width: 769px) and (max-width: 1025px) {
  .container {
    max-width: 102.4rem;
    padding: 6.4rem;
  }
}
/* MY Laptop and Above */
@media (min-width: 1025px) {
  .container {
    max-width: 100%;
    padding: 9.6rem 10rem;
  }
}

.active-page {
  color: var(--accent) !important;
}

.heading-primary {
  font-size: 6.2rem;
  font-weight: 700;
  letter-spacing: -2px;
}
.text-gray {
  color: var(--grey-light);
}
.text-orange {
  color: var(--accent);
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  padding: 12.8rem 2.4rem 6.4rem 2.4rem;
  background-color: var(--primary-dark);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card .folded {
  position: absolute;
  top: 3.2rem;
  left: -2.7rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary);
  color: white;
  color: #2e1637;
  padding: 0.8rem 3.2rem;
  width: auto;
  background: var(--button-background);
  z-index: 3;
  box-shadow: 5px 5px 0.7rem rgba(0, 0, 0, 0.3);
}
.folded::after {
  content: "";
  position: absolute;
  bottom: -4rem;
  left: 0;
  width: 0rem;
  height: 0rem;
  border: 2rem solid;
  border-color: transparent transparent transparent var(--accent-dark);
  transform-origin: top left;
  transform: rotate(315deg);
}
.description {
  color: var(--grey-light);
  font-size: 1.8rem;
  line-height: 1.7;
  width: fit-content;
  transition: padding-left 0.2s linear;
}
.description a {
  color: var(--accent);
  text-decoration: none;
  transition: all 0.1s linear;
}
.description a:hover {
  color: #e9870f;
}
.mt-m {
  margin-top: 3.2rem;
}
.ml-s {
  margin-left: 2.4rem;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 1.2rem 3.2rem;
  border-radius: 4.8rem;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 600;
  border: none;
  text-decoration: none;
  overflow: hidden;
  transition: background 2s linear, background-color 2s linear;
}
.btn-filled {
  background: var(--button-background);
  border: 2px solid var(--accent);
  color: var(--primary-dark);
  color: var(--grey-light);
  color: var(--primary-dark);
  transition: background 2s linear, background-color 2s linear;
}

.btn-filled:hover {
  border: 2px solid transparent;
  box-shadow: 0 0 1.2rem var(--accent);
  background: transparent;
  color: var(--accent);
}

.btn-trans {
  background-color: transparent;
  border: 2px solid var(--accent);
  color: var(--accent);
  transition: background-color 2s linear;
}

.btn-trans:hover {
  box-shadow: 0 0 1.2rem var(--accent);
  background: var(--button-background);
  color: var(--primary-dark);
}

.hidden {
  display: none !important;
}

/* *******************************
**********************************
________ HOME _________

**********************************
**********************************/

.home {
  position: relative;
  max-width: 100%;
  background: url("../imgs/home_background.jpg") center center/cover no-repeat
    fixed;
}

header {
  min-width: 100%;
  height: 10rem;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem 6.4rem;
}
@media (max-width: 480px) {
  header {
    padding: 3.2rem 1.2rem;
  }
}
header.show {
  position: fixed;
  top: 0rem;
  left: 0;
  z-index: 100;
  background-color: var(--primary-dark);
  /* box-shadow: 0 0 1rem 0.1rem var(--accent-light); */
  animation: show-header 0.8s;
}

@keyframes show-header {
  0% {
    top: -10rem;
  }
  100% {
    top: 0;
  }
}
.logo img {
  max-width: 10rem;
}

/* NAV */
@media (max-width: 1023px) {
  nav,
  #nav-cta {
    display: none;
  }
}
nav ul {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

nav ul li {
  position: relative;
}

nav ul li a,
.mobile-ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--primary-dark);
  color: var(--grey-light);
  transition: 0.3s;
}

nav ul li .underline {
  position: absolute;
  right: 0;
  bottom: -8px;
  width: 0%;
  height: 2px;
  background-color: var(--accent);
  transition: 0.3s;
}

nav ul li .underline.show-underline {
  left: 0;
  width: 100%;
}

nav ul li .underline.hide-underline {
  width: 0%;
}

/* *******************************
**********************************
________Mobile Nav_________

**********************************
**********************************/

.mobile-nav {
  display: none;
}
@media (max-width: 1023px) {
  .mobile-nav {
    position: absolute;
    display: block;
    top: 2rem;
    right: 2rem;
    height: 6.4rem;
    width: 6.4rem;
    max-width: 100%;
    background-color: rgba(46, 22, 55, 0.9);
    border-radius: 2.4rem;
    transition: width 0.3s linear, height 0.3s linear;
    overflow: hidden;
    z-index: 50;
  }
  .mobile-nav.active {
    width: 60%;
    height: 34rem;
    padding: 1.2rem 2.4rem;
  }
  .mobile-nav .mobile-ul {
    display: none;
  }
  .mobile-nav.active .mobile-ul {
    width: auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 2rem;
    flex-grow: 1;
  }
  .mobile-nav .mobile-ul li {
    opacity: 0;
    transition: opacity 0.5s linear;
  }
  .mobile-nav .mobile-ul li a {
    font-size: 2rem;
    transition: color 0.3s linear;
  }
  @media (max-width: 481px) {
    .mobile-nav .mobile-ul li a {
      font-size: 1.6rem;
    }
  }
  .mobile-nav .mobile-ul li:hover a {
    color: var(--accent);
  }
  .mobile-nav.active .mobile-ul li {
    opacity: 1;
  }

  .toggle-icon {
    position: absolute;
    right: 2rem;
    top: 1.6rem;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 25;
    transition: transform 0.3s linear, right 0.3s linear;
  }
  .mobile-nav.active .toggle-icon {
    right: 50%;
    transform: translateX(50%);
  }
  .icon-bar {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 25px;
    height: 2px;
    background-color: #fff;
    transition: background-color 0.3s linear, transform 0.3s linear;
    transform-origin: center center;
  }
  .mobile-nav.active .icon-bar {
    background-color: var(--accent);
  }
  .icon-bar.line2 {
    top: auto;
    bottom: 10px;
  }
  .mobile-nav.active .line1 {
    transform: rotate(45deg);
  }
  .mobile-nav.active .line2 {
    transform: rotate(-45deg);
    top: 10px;
  }
}

/* *******************************
**********************************
________HERO_________

**********************************
**********************************/

.hero .container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1025px) {
  .hero .container {
    max-width: 100%;
    padding: 3.2rem 10rem 9.6rem 10rem;
  }
}
.hero .mobile-btn__added {
  display: none;
}

.hero .hero-image {
  flex-basis: 40%;
}
.hero .hero-image img {
  width: 100%;
}
.hero .hero-text {
  flex-basis: 50%;
}
.hero-sub-heading {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 1.2rem;
  font-weight: 200;
  opacity: 50%;
  margin-top: 1rem;
  margin-left: 5px;
}
@media (max-width: 769px) {
  .hero .mobile-btn__added {
    display: inline-block;
  }
  .hero .hero-image {
    display: none;
  }
  .hero .hero-text {
    flex-basis: 100%;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .hero-sub-heading {
    font-size: 0.8rem;
    letter-spacing: 0.5rem;
  }
}

/* *******************************
**********************************
________ABOUT_________

**********************************
**********************************/

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  padding: 12.8rem 2.4rem 6.4rem 2.4rem;
  background-color: var(--primary-dark);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card .folded {
  position: absolute;
  top: 3.2rem;
  left: -2.7rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary);
  color: white;
  color: #2e1637;
  padding: 0.8rem 3.2rem;
  width: auto;
  background: var(--button-background);
  z-index: 5;
  box-shadow: 5px 5px 0.7rem rgba(0, 0, 0, 0.3);
}
.folded::after {
  content: "";
  position: absolute;
  bottom: -4rem;
  left: 0;
  width: 0rem;
  height: 0rem;
  border: 2rem solid;
  border-color: transparent transparent transparent var(--accent-dark);
  transform-origin: top left;
  transform: rotate(315deg);
}
.about-text {
  padding: 1.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}
.description {
  color: var(--grey-light);
  font-size: 1.6rem;
  line-height: 1.7;
  width: fit-content;
}
.description a {
  transition: color 0.1s linear;
  color: var(--accent);
  text-decoration: none;
}
.about-text .description:last-child {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.about-text .description:hover a {
  color: #df800d;
}

@media (max-width: 1023px) {
  .card {
    width: 90%;
    padding: 9.6rem 1.6rem 6.4rem 1.6rem;
  }
  .card .folded {
    font-size: 1.6rem;
  }
  .about-text {
    padding: 0rem 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
  }
  .description {
    color: var(--grey-light);
    font-size: 1.2rem;
    line-height: 1.7;
    width: fit-content;
    transition: padding-left 0.2s linear;
  }
  .about-text .description:last-child:hover {
    padding-left: 0rem;
  }
  .about-text .description .smiley {
    display: none;
  }
}
/* *******************************
**********************************
________SKILLS_________

**********************************
**********************************/
.skills {
  background: url("../imgs/skills_background.JPG") center/cover no-repeat;
  position: relative;
  text-align: center;
}
.skills .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12.8rem;
}
@media (min-width: 1025px) {
  .skills .container {
    max-width: 100%;
    padding: 3.2rem 10rem 12.8rem 10rem;
  }
}
.heading-stroked {
  white-space: nowrap;
  font-size: 12.8rem;
  -webkit-text-stroke: 2px rgba(77, 50, 88, 0.6);
  color: transparent;
  transform-origin: left;
  animation: fillText 10s infinite;
}

.skills .card {
  padding: 2.4rem 4.8rem;
}

@media (max-width: 1024px) {
  .skills .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 12.8rem;
  }
}
@media (max-width: 481px) {
  .heading-stroked {
    font-size: 4.8rem;
  }
  .skills .card {
    padding: 2.4rem;
  }
}
@keyframes fillText {
  0% {
    -webkit-text-stroke: 2px rgba(77, 50, 88, 0.6);
  }

  50% {
    -webkit-text-stroke: 2px rgba(77, 50, 88, 1);
  }
  100% {
    -webkit-text-stroke: 2px rgba(77, 50, 88, 0.6);
  }
}

.skilles-desc {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  text-align: left;
}

.skilles-desc .description span {
  color: rgb(250, 54, 84);
}

/* SWIPER */
.swiper {
  margin: 0;
  width: 25rem;
  height: 25rem;
  flex-basis: 1;
  transform: rotateX(-20deg);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.skills .skill-text {
  font-size: 3.6rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-top: 1.6rem;
}
@media (max-width: 481px) {
  .swiper .skill-text {
    font-size: 3rem;
  }
}
.skill-text.html {
  color: #ff5722;
}
.skills .skill-text.css {
  color: #2196f3;
}
.skills .skill-text.js {
  color: #ffc928;
}
.skills .skill-text.react {
  color: #61dafb;
}

/* *******************************
**********************************
________ PORTFOLIO _________

**********************************
**********************************/
.portfolio {
  background: url("../imgs/portfolio_background.jpg") center center/cover
    no-repeat fixed;
}
@media (min-width: 1025px) {
  .portfolio .container {
    padding: 3.2rem 0rem 12.8rem 0rem;
  }
}
.portfolio .container {
  position: relative;
}
.portfolio-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 9.6rem;
  font-weight: 700;
  color: var(--grey-light);
  opacity: 0.8;
  width: 80%;
  margin: auto;
}

.portfolio .card {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  padding: 6.4rem 0;
  border-radius: 0.8rem;
  box-shadow: none;
  background-color: transparent;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1025px) {
  .portfolio-heading {
    font-size: 4.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .portfolio .card {
    margin-top: -2rem;
    width: 100%;
    padding: 4.8rem 0;
  }
}
.portfolio .card .row {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 2rem;
  row-gap: 2.4rem;
}

.portfolio .card .row .item {
  position: relative;
  flex-basis: calc(100% / 3);
  border-radius: 0.8rem;
  font-size: 4.8rem;
  height: 30rem;
  text-align: center;
  transform-origin: left center;
  transition: flex-basis 0.3s linear;
  overflow: hidden;
}
.portfolio .card .row .item.expand {
  flex-basis: 50%;
}
@media (max-width: 1023px) {
  .portfolio .card .row .item {
    height: 20rem;
  }
}
@media (max-width: 481px) {
  .portfolio .card .row {
    width: 95%;
    height: 100rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    column-gap: 2rem;
    row-gap: 2.4rem;
  }
  .portfolio .card .row .item {
    position: relative;
    width: 100%;
    border-radius: 0.8rem;
    font-size: 4.8rem;
    text-align: center;
    background-color: wheat;
    transform-origin: left center;
    transition: flex-basis 0.3s linear;
    overflow: hidden;
  }
  .portfolio .card .row .item.expand {
    flex-basis: 50%;
  }
}
.item-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.item-overlay {
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2.4rem;
  background-color: rgba(128, 74, 8, 0.8);
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s linear;
}

.portfolio .card .row .item.expand .item-overlay {
  opacity: 1;
}
.item-title {
  color: white;
}

/* *******************************
**********************************
________ BLOGS  _________

**********************************
**********************************/
.blogs {
  width: 100%;
}

.blog-header-section {
  width: 100%;
  height: 30rem;
  background: url("../imgs/blog_background.jpg") top/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
}

.blog-header-section .blog-heading {
  color: var(--grey-light);
  font-size: 6.4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -2px;
  word-spacing: 5px;
}
.blog-header__subheading {
  color: var(--accent);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 1023px) {
  .blog-header-section .blog-heading {
    font-size: 3.6rem;
  }
  .blog-header__subheading {
    font-size: 1.2rem;
  }
}

.blogs .container {
  background: url("../imgs/background.png") center/cover no-repeat;
  position: relative;
}

.main-blog__container {
  width: 90%;
  height: 50rem;
  margin: auto;
  margin-top: -14rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: url("../imgs/blog_main.jpg") center/cover no-repeat;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.main-blog__content {
  width: 100%;
  padding: 6.4rem 4.8rem 2.4rem;
  background: linear-gradient(to top, #000, rgba(0, 0, 0, 0.8), transparent);
}
.main-blog__title {
  font-size: 3.2rem;
  margin: 0.5rem 0 1.6rem;
  color: var(--grey-light);
}
.main-blog__link {
  border-radius: 0;
  font-size: 1.2rem;
  padding: 1.2rem 2.4rem;
}
@media (max-width: 1023px) {
  .main-blog__container {
    width: 100%;
    margin: auto;
    margin-top: -12rem;
    height: 32rem;
  }
  .main-blog__content {
    width: 100%;
    padding: 0;
    padding-left: 1.2rem;
    padding-bottom: 2.4rem;
  }
  .main-blog__title {
    font-size: 2.4rem;
  }
  .main-blog__link {
    border-radius: 0;
    font-size: 0.8rem;
    padding: 0.8rem 1.2rem;
  }
}
/* SECONDARY BLOG */

.secondary-blog__container {
  width: 90%;
  margin: auto;
  margin-top: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2.4rem;
}
.secondary-blog {
  flex-basis: 30%;
  transition: all 0.3s ease-in-out;
}
.secondary-blog:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.01) translateY(-0.2rem);
}
.secondary-blog__image {
  width: 100%;
  height: 20rem;
}
.secondary-blog__image img {
  width: 100%;
  height: 100%;
}
.secondary-blog__content {
  height: 14rem;
  background-color: var(--grey-light);
  padding-left: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.secondary-blog__title {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}
.secondary-blog__link {
  border-radius: 0;
  padding: 0;
  color: var(--primary);
  font-size: 1.4rem;
  font-weight: bold;
  transition: all 0.2s linear;
}
.secondary-blog__link:hover {
  color: var(--accent);
}
@media (max-width: 767px) {
  .secondary-blog__container {
    width: 100%;
    margin-top: 4.8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.4rem;
  }

  .secondary-blog:hover {
    transform: scale(1.02) translateY(-0.4rem);
  }
  .secondary-blog__image {
    height: 16rem;
  }
  .secondary-blog__content {
    height: 14rem;
  }
  .secondary-blog__title {
    font-size: 1.4rem;
  }
  .secondary-blog__link {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .secondary-blog__container {
    width: 100%;
  }
  .secondary-blog {
    flex-basis: 30%;
    transition: all 0.3s ease-in-out;
  }
  .secondary-blog:hover {
    transform: scale(1.02) translateY(-0.8rem);
  }
  .secondary-blog__image {
    height: 16rem;
  }
  .secondary-blog__title {
    font-size: 1.4rem;
  }
  .secondary-blog__link {
    font-size: 1.2rem;
  }
}

/* *******************************
**********************************
________ CONTACT  _________

**********************************
**********************************/

.contact {
  width: 100%;
}
.form-container.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  padding-top: 6.4rem;
  position: relative;
}
@media (max-width: 767px) {
  .form-container.card {
    flex-direction: column;
    padding: 1.2rem;
    padding-top: 2.4rem;
    align-items: flex-start;
    row-gap: 2.4rem;
  }
}
.error-message__container {
  position: absolute;
  top: 2rem;
  right: 0;
  opacity: 0;
  background-color: var(--grey-light);
  width: 22rem;
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 0.8rem;
  border-left: 0.5rem solid rgb(190, 0, 0);
}
.error-message__text {
  font-size: 1.4rem;
  white-space: nowrap;
  font-weight: 600;
}
.error-message__container.active {
  animation: show-error 4s linear;
}
@keyframes show-error {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.form-left__container {
  flex-basis: 40%;
  height: 38rem;
  padding: 0 0 4.8rem 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.form-right__container {
  height: 38rem;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  flex-grow: 1;
}

.contact-heading {
  color: var(--grey-light);
  font-size: 3.6rem;
  font-weight: 600;
  padding-bottom: 1.2rem;
  border-bottom: 2px solid var(--accent);
}
@media (max-width: 767px) {
  .form-left__container {
    padding: 0.4rem;
    row-gap: 3.6rem;
  }
  .contact-heading {
    color: var(--grey-light);
    font-size: 2.4rem;
    font-weight: 600;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid var(--accent);
  }
}
.input-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 1.2rem;
}
.input-control label {
  font-size: 1.4rem;
  color: grey;
}
.input-control input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--grey-light);
  padding: 1.2rem 0rem;
  transition: all 0.3s linear;
  color: white;
  font-size: 1.6rem;
}
.input-control input:focus {
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid var(--accent);
}
.input-control input::placeholder {
  color: white;
  transition: all 0.1s linear;
}
.input-control input:focus::placeholder {
  color: transparent;
}
@media (max-width: 767px) {
  .input-control {
    row-gap: 0.4rem;
  }
  .input-control label {
    font-size: 1.4rem;
  }
  .input-control input {
    font-size: 1.2rem;
  }
  .input-control input:focus {
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid var(--accent);
  }
  .input-control input::placeholder {
    color: white;
    transition: all 0.1s linear;
  }
  .input-control input:focus::placeholder {
    color: transparent;
  }
}
.input-control.message {
  padding-left: 4.8rem;
  flex-grow: 1;
  border-left: 1px solid var(--grey-dark);
}
.input-control.message textarea {
  resize: none;
  width: 90%;
  height: 80%;
  background-color: transparent;
  background-color: #26112c;
  border: none;
  padding: 1.2rem;
  color: var(--grey-light);
  font-size: 1.6rem;
  text-align: left;
}
.input-control.message textarea::placeholder {
  color: var(--grey-light);
  transition: all 0.1s linear;
}
.input-control.message textarea:focus {
  outline: none;
}
.input-control.message textarea:focus::placeholder {
  color: transparent;
}
.contact button {
  background: var(--button-background);
  border-radius: 0;
  padding: 1.4rem 0;
  /* text-transform: uppercase; */
  transition: all 0.3s linear;
}
.contact button:hover {
  filter: brightness(70%);
}
@media (max-width: 767px) {
  .input-control.message {
    padding-left: 0rem;
    border-left: none;
  }
  .input-control.message textarea {
    font-size: 1.4rem;
    margin-top: 0.8rem;
  }
}

/* modal MESSAGE */
.success-modal__container {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.success-modal__container.active {
  display: block;
}
.success-modal {
  width: 55rem;
  height: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background-color: var(--grey-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  row-gap: 1.2rem;
  border-radius: 0.4rem;
}
@media (max-width: 767px) {
  .success-modal {
    width: 95%;
  }
}
.success-modal.active {
  animation: modal-show 1s;
}
@keyframes modal-show {
  0% {
    top: 0;
    opacity: 0;
  }

  100% {
    top: 50%;
    opacity: 1;
  }
}
.success-modal__icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-50%);
  background-color: #82ce34;
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 50%;
}
.success-modal__icon i {
  color: white;
  font-size: 4.4rem;
}

.success-modal__message {
  font-size: 3rem;
  font-weight: 600;
  color: var(--grey-dark);
  margin-bottom: 1.2rem;
  margin-top: 2.4rem;
}
.success-modal__paragraph {
  font-size: 1.4rem;
  color: var(--grey-dark);
  margin-bottom: 2.4rem;
  font-weight: 600;
}
#close-modal {
  display: block;
  width: 80%;
  border-radius: 0.4rem;
  padding: 1.2rem 0;
  border: none;
  background-color: #82ce34;
  color: white;
  font-size: 2rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
#close-modal:hover {
  background-color: #71b42e;
}
/* *******************************
**********************************
________ FOOTER  _________

**********************************
**********************************/
.footer {
  background-color: #141414;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.4rem;
  }
}
.footer-top__logo {
  text-align: left;
}

.footer-top__logo img {
  width: 20rem;
}
.slogan {
  font-size: 1.2rem;
  color: var(--grey-light);
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .footer-top__logo {
    text-align: center;
  }
  .slogan {
    font-size: 0.8rem;
    color: var(--grey-light);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .line-separator {
    width: 80%;
  }
}
.footer-top__links {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 9.6rem;
}

.footer-top__links ul {
  list-style: none;
}
.footer-top__links li {
  margin-bottom: 1.2rem;
}
.footer-top__links li a {
  text-decoration: none;
  color: var(--grey-light);
  font-size: 1.6rem;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
.footer-top__links li a:hover {
  color: var(--accent);
}
.line-separator {
  width: 70%;
  margin: auto;
  margin-top: 3.6rem;
  margin-bottom: 3.6rem;
  height: 1px;
  background-color: var(--grey-light);
  display: block;
}
@media (max-width: 767px) {
  .line-separator {
    width: 80%;
  }
}

.footer-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.copywrite {
  color: gray;
  font-size: 1.2rem;
  margin-top: 3.2rem;
}
.footer-social__item {
  display: flex;
}
.footer-social__item a {
  text-decoration: none;
}
.footer-social__item i {
  margin: 0 1.2rem;
  font-size: 2rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-light);
  color: #000;
  transition: all 0.2s linear;
}
.footer-social__item a:first-child:hover i {
  background-color: #0077b5;
  color: white;
}
.footer-social__item a:last-child:hover i {
  background-color: black;
  color: white;
}
@media (max-width: 767px) {
  .copywrite {
    color: gray;
    font-size: 0.6rem;
    margin-top: 3.2rem;
  }
}
.copywrite i,
.copywrite span {
  color: var(--accent);
}

/* 
//////////////////////
 */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 18px;
}

.popup.fade-in {
  display: block;
}

.popup-message.fade-in {
  display: block;
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
